.DS_Store
.ipynb_checkpoints
.jupyter


# Folder into which sample data is downloaded -- may be created during testing,
#  but should not be checked-in.
Data_Manipulation_with_Python/workshop_data/
.Rproj.user
